h1 {
    text-align: center;
}

#txt_welcome {
    text-align: center;
    margin-bottom: 50px;
}

.project {
    text-align: left;
}

.project_title {
    text-align: center;
    font-size: 20px;
}

.project_button {
    font-size: 15px;
    width: 200px;
    height: 30px;
}

.project_img {
    width: 300px;
    height: 300px;
}